.card {
    background-color: transparent;
    background-image: linear-gradient(225deg, #111e13 0%, #1e5726d2 100%);
    box-shadow: 0px 0px 10px 0px rgba(173, 172, 172, 0.5);
    transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 20px 20px 20px;
}

.card img {
    width: 100px;
    height: 100px;
    margin: auto;
}

.card-title {
    color: #fff !important;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.card-text {
    color: #fff;
    font-weight: 300;
    line-height: 1.6em;
    margin-bottom: 15px;
    text-align: center;
}